{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	{%if request.user.is_staff%}

	<div class="espacio">
		<h2>Registro de códigos</h2>

		<form action="." method="post">
			{%csrf_token%}
			{{codigoForm|bootstrap}}
			<a href="#"><input type="submit" value="Registrar"></a>
		</form>
	</div>

	{%endif%}

	<h1>Lista de códigos del plan {{plan.nombre}}</h1>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Código</th>
				<th>Acciones</th>
			</thead>
			<tbody>

	{%for codigo in codigos%}

				<tr>
					<td>{{codigo.codigo|slice:": -4"}}********</td>
					<td><a href="{% url 'ventas:ViewVentaInicial' codigo.codigo%}">Vender</a></td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="2">No hay códigos</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}