{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	{%if object%}

	<h4>Edita el plan <strong><i>{{object.nombre}}<i></strong></h4>
	
	{%else%}
	
	<h4>Crea un plan</h4>
	
	{%endif%}

	<form method="post" enctype="multipart/form-data">
		{%csrf_token%}
		{{form|bootstrap}}
		<input type="submit" value="{%if object%}Guardar cambios{%else%}Crear{%endif%}">

		<a href="{%url 'codigos:ListViewPlanes'%}"><input class="" type="button" value="Cancelar"></a>
	</form>

{%endblock content%}
