{% extends 'base.html'%}

{%block content%}

	<a href="{%url 'accounts:DetailViewPuntoDeVenta' object.punto_venta.pk%}">Regresar</a>
	
	<h2>Historial de recargas del plan {{object.duracion}} {{duracion}} de punto de venta {{object.punto_venta.nombre}}</h2>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Creación</th>
			</thead>
			<tbody>

	{%for recarga in recargas%}

				<tr>
					<td>${{recarga.precio}} MXN</td>
					<td>{{recarga.cantidad}}</td>
					<td>{{recarga.creacion}}</td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="3">No hay recargas</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}