{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<a href="{%url 'accounts:DetailViewPuntoDeVenta' plan.punto_venta.pk%}">Regresar</a>

	<h2>Haz una recarga para el plan {{plan.duracion}} {{unidad_duracion}} de {{plan.punto_venta}}</h2>

	{% if messages %}
	
		<div class="alert alert-success">
		{% for m in messages %}
			
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m}}</li>
			
			{%if plan.punto_venta.tecnologia_wifi == "Mikrotik"%}
			La tecnologia usada es mikrotik por lo que tiene descargar los codigos e ingresarlos en la terminal del dispositivo
			<a href="{%url 'codigos:codigos_recien_creados_csv' ultima_recarga.pk%}">Descarga de códigos</a>
			{%else%}
			La tecnologia usada es Unifi por lo que tiene que crear {{ultima_recarga.cantidad}} de codigos en el dispositivo de red y posteriormente registrarlos en este sistema. <a href="{%url 'codigos:CreateViewCodigo' plan.slug%}">Crear codigos</a>
			{%endif%}
		{% endfor %}
		</div>
	{% endif %}

	<form method="post" enctype="multipart/form-data">
		{%csrf_token%}
		{{form|bootstrap}}

		<input type="submit" value="Crear">
	</form>

{%endblock content%}