{% extends 'base.html'%}

{%block content%}

	{%if not request.user.puntodeventa%}

		<a href="{%url 'accounts:ListViewPuntosDeVenta'%}">Regresar</a>

	{%endif%}

	<h2>Información del punto de venta</h2>
	<p>Nombre: {{object.nombre}}</p>
	<p>Usuario: {{object.user.username}}</p>
	<p>Dueño: {{object.user}}</p>
	<p>Domicilio: {{object.get_domicilio_completo}}</p>
	<p>E-mail: {{object.user.email}}</p>
	<p>Telefono: {{object.telefono}}</p>
	<p>Red: {{object.nombre_red}}</p>
	<p>Saldo acumulado: ${{object.saldo_acumulado}}</p>	
	<p>{{object.porcentaje_comision}}% de comisión</p>
	<p>Tecnología usada: {{object.tecnologia_wifi}}</p>
	<h2>Lista de planes</h2>

	{%if request.user.puntodeventa%}

		<a href="{%url 'codigos:CreateViewPlan' object.pk%}">Crear plan</a>
	{%endif%}

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Códigos disponibles</th>
				
				<th {%if request.user.puntodeventa%} colspan="3"{%else%} colspan="2" {%endif%}>Acciones</th>
			</thead>
			<tbody>

	{%for plan in planes%}
				<tr>
					<td>{%if plan.contar_codigos_disponibles%}{{plan.contar_codigos_disponibles}}{%endif%}{{plan.duracion}} {%if plan.unidad_duracion == "h"%}hora{%else%}dia{%endif%}{%if plan.duracion > 1%}s{%endif%}</td>
					<td>${{plan.precio}} MXN</td>
					<td> {{plan.codigos_disponibles}}</td>

					{%if request.user.puntodeventa%}

					<td>{%if plan.codigos_disponibles > 0%}<a href="{%url 'ventas:CreateViewVenta' plan.slug%}">Vender</a>
					{%else%}Necesitas comprar códigos{%endif%}</td>
					<td><a href="{%url 'codigos:UpdateViewPlan' plan.slug%}">Actualizar</a></td>
					{%else%}
					<td><a href="{%url 'codigos:CreateViewRecarga' plan.slug%}">Hacer recarga</a></td>
					{%endif%}
					<td><a href="{%url 'codigos:DetailViewPlan' plan.slug%}">Historial de recargas</a></td>	
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="4">No hay planes</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}