{% extends 'base.html'%}

{%block content%}

	<h2>Puntos de venta</h2>
	<a href="{%url 'accounts:CreateViewPuntoDeVenta'%}">Crear</a>
	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Nombre</th>
				<th>Dueño</th>
				<th>Username</th>
				<th>Domicilio</th>
				<th colspan="3">Acciones</th>
			</thead>
			<tbody>

	{%for punto_venta in object_list%}

				<tr>
					<td>{{punto_venta.nombre}}</td>
					<td>{{punto_venta.user.get_full_name}}</td>
					<td>{{punto_venta.user.username}}</td>
					<td>{{punto_venta.get_domicilio_completo}}</td>
					<td><a href="{%url 'accounts:DetailViewPuntoDeVenta' punto_venta.pk%}">Ver</a></td>
					<td><a href="{%url 'accounts:UpdateViewPuntoDeVenta' punto_venta.user.pk%}">Actualizar</a></td>
					<td><a href="{%url 'accounts:DeleteViewPuntoDeVenta' punto_venta.user.pk%}">Eliminar</a></td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="7">No hay puntos de venta</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}