{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<a href="{%url 'accounts:DetailViewPuntoDeVenta' plan.punto_venta.pk%}">Regresar</a>

	<h2>Realiza una venta plan {{plan.duracion}} {{unidad_duracion}} de {{plan.punto_venta}}</h2>

	{% if messages %}
	
		<div class="alert alert-success">
		{% for m in messages %}
			
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m}} </li>

			<li>Status de mensaje: {%if ultima_venta.status_sms == "OK"%} Exitoso{%else%}Fallido, {{ultima_venta.status_sms}}{%endif%}</li>
			
			<li>Codigo: {{ultima_venta}}</li>
			<li>Telefono {{ultima_venta.telefono}} </li>
		{% endfor %}
		</div>
	{% endif %}

	<form method="post" enctype="multipart/form-data">
		{%csrf_token%}
		{{form|bootstrap}}

		<input type="submit" value="Crear">
	</form>


{%endblock content%}