{% extends 'base.html'%}

{%block content%}

	<h1>Historal de ventas</h1>

	<div class="table-responsive text-center">
		<table class="table">
			<thead>
				<th>Plan</th>
				<th>Código</th>
				<th>Teléfono</th>
				<th>Precio</th>
				<th>Fecha</th>
			</thead>
			<tbody>

	{%for venta in ventas%}

				<tr>
					<td>{{venta.codigo.plan.duracion}} {%if venta.codigo.plan.unidad_duracion == "h"%}hora{%else%}dia{%endif%}{%if venta.codigo.plan.duracion > 1%}s{%endif%}</td>
					<td>{{venta.codigo}}</td>
					<td>{{venta.telefono}}</td>
					<td>${{venta.codigo.plan.precio}} MXN</td>
					<td>{{venta.fecha_hora}}</td>
				</tr>
	
	{%empty%}
	
				<tr>
					<td colspan="4">No hay ventas</td>
				</tr>

	{%endfor%}

			</tbody>
		</table>
	</div>

{%endblock content%}
