{% extends 'base.html'%}

{% load bootstrap %}

{%block content%}

	<a href="{%url 'accounts:DetailViewPuntoDeVenta' plan.punto_venta.pk%}">Regresar</a>

	<h2>Realiza una venta plan {{plan.duracion}} {{unidad_duracion}} de {{plan.punto_venta}}</h2>

	{% if messages %}
	
		<div class="alert alert-success">
		{% for m in messages %}
			
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m}} </li>

			<li>Status de mensaje: {%if ultima_venta.status_sms == "OK"%} Exitoso{%else%}Fallido, {{ultima_venta.status_sms}}{%endif%}</li>
			
			<li>Codigo: {{ultima_venta}}</li>
			<li>Telefono {{ultima_venta.telefono}} </li>
		{% endfor %}

		</div>

		<p>Si desea hacer otra recarga con este plan, haga click <a onClick="window.location.href=window.location.href" ><b>aquí</b></p></a></p>
		<p>En caso de que el código no haya sido admitido en la red pero el dispositivo ya hubiera conectado con anteriodad, realice en el dispositivo la operación <b>olvidar red </b>(si tiene duda del proceso, haga click  <a href="https://www.youtube.com/watch?v=Z_sHRRBPats">aqui</a>), de lo contrario llame a soporte.</p>
	{%else%}

	<form method="post" enctype="multipart/form-data">
		{%csrf_token%}
		{{form|bootstrap}}		
		<input type="submit" value="Realizar venta">

	{%endif%}
	</form>

{%endblock content%}