{%load static%}

<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">

		<link rel="stylesheet" type="text/css" href="{%static 'css/font-awesome.min.css'%}">

		<link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css'%}">
	</head>
	<body>

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">WifiRent</a>
		<ul class="navbar-nav mr-auto">
		</ul>
		{%if request.user.is_authenticated%}
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{%url 'codigos:ListViewPlanes'%}">Planes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{%url 'ventas:ListViewVentas'%}">Historial</a>
			</li>

			{%if request.user.is_staff%}
			<li class="nav-item">
				<a class="nav-link" href="{%url 'accounts:ListViewUsers'%}">Usuarios</a>
			</li>      
			{%endif%}
			<li class="nav-item">
				<a class="nav-link" href="{%url 'accounts:logout'%}">Salir</a>
			</li>
		</ul>
		{%endif%}
	</nav>

		<div class="container">
		    <br>
			
			{%block content%}
			{%endblock content%}
		
		</div>
        <script type="text/javascript" src="{%static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
	</body>
</html>